@tailwind components;
@tailwind utilities;

.nova-file-manager .pintura-editor {
    --color-background: 243, 244, 246;
    --color-foreground: 0, 0, 0;
}

.nova-file-manager .dark .pintura-editor {
    --color-background: 17, 24, 39;
    --color-foreground: 255, 255, 255;
}

.custom-styles-component-disclosure-panel .file-thumb-wrapper:hover .show-on-hover {
    display: block;
}
